<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/trader">Grain Portal v2.0</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-nav navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/user_profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <!--<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete Me</a>-->
                <!--</li>-->
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="navbar-element">
                    <a href="/admin/"><i class="fa fa-address-book fa-fw"></i> Farmers' Profiles</a>
                </li>

                <li class="navbar-element">
                    <a href="/admin/favorite"><i class="fa fa-star fa-fw"></i> Favorite</a>
                </li>
                <li class="navbar-element">
                    <a href="#"><i style="color:#FFCF4C" class="fa fa-shopping-basket fa-fw"></i> Market <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/admin/market/list_admin/">List</a>
                        </li>
                        <li>
                            <a href="/admin/market/selling_admin/">Selling</a>
                        </li>
                        <li>
                            <a href="/admin/market/sold_admin/">Sold</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li class="navbar-element">
                    <a href="#"><i class="fa fa-question-circle fa-fw"></i> Q & A<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/admin/qa/answer/">Answer Question</a>
                        </li>
                        <li>
                            <a href="/admin/qa/answered/">Answered</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li class="navbar-element">
                    <a href="/admin/guide/"><i class="fa fa-info-circle fa-fw"></i> Guide</a>
                </li>
				        <li class="navbar-element">
                    <a href="/admin/view_report/"><i class="fa fa-envelope-open-o"></i> View Report </a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
