  <div class="two wide column">
     <a href = "/"><button class=" ui red plus icon button">
        <i class="huge home icon menu-icon"></i><br>
        Home
      </button></a>

      <a href = "/showreport"><button class=" ui orange icon button">
        <i class="huge edit icon menu-icon"></i><br>
        Reports
      </button><br></a>

      <a href = "/sms"><button class=" ui yellow icon button">
        <i class="huge mail icon menu-icon"></i><br>
        Messages
      </button><br></a>

      <a href = "/market"><button class=" ui teal icon button">
        <i class="huge shop icon menu-icon"></i><br>
        Market
      </button><br></a>

      <a href = "/user"><button class=" ui green icon button">
        <i class="huge user icon menu-icon"></i><br>
        Users
      </button><br></a>

      <a href = "/settings"><button class=" ui blue icon button">
        <i class="huge settings icon menu-icon"></i><br>
        Settings
      </button><br></a>
    </div>