---
---
<!DOCTYPE html>
<html>
<head>
{% include head.html %}
  <!-- User Javascript and CSS -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <script src="/assets/js/login_checker.js"></script>
</head>
<body class="main main-view">
{% include topbar.html %}
  <br>
  <br>
  <div class="ui grid">
{% include sidebar.html %}
    <div class="eight wide column " id="content-area">
{{ content }}
    </div>
  </div>
</body>
</html>
